*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    position:relative;
    background-color: rgb(83, 85, 83);
}

.left h1{
     position: relative;
     font-size: 30px;
     left: 15px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500px;
    padding: 20px;
    font-family: sans-serif

}

.navbar ul{
    position: relative;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    right: 20px;
}

.navbar a:hover{
    color: white;
    cursor: pointer;
}
.sign-up button{
    position: relative;
    background-color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    font-family: sans-serif;
    top:-10px;
    cursor: pointer;
}
.sign-up button:hover{
    background-color: rgb(127, 133, 127);
}


.welcomeImage{
    position: relative;
    top: 80px;
    left:30px
}

.welcome{
    position: relative;
    top:50px;
}

.welcome h2{
    position: relative;
    text-align: center;
    top: -180px;
    right:144px;
    font-size: 30px;
}

.welcome h1{
    position: relative;
    text-align: center;
    top:-170px;
    left: 450px;
    font-size: 35px;

    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid black;
    width: 0ch;

    animation: typing 4s steps(43, end) forwards, blink 0.7s step-end 6, fadeCursor 0.5s ease forwards;
    animation-delay: 0s, 0s, 4.2s; /* Delay fade until typing ends + a bit more */
    margin: 0 auto;
}

/* Keyframes */
@keyframes typing {
    from { width: 0; }
    to { width: 43ch; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

@keyframes fadeCursor {
    to { border-color: transparent; }
}

.socialMedia ul li a{
   padding: 15px;
   
}

.socialMedia ul{
    position: relative;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    top:-40px;
    right: 130px;
    cursor: pointer;
}

.NavAbout hr{
    position: relative;
    border: 2px solid white;
    width: 60px;
    left: 50px;
    border-radius: 20px;
    top:50px;
}

.NavAbout h1{
    position: relative;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    left: 130px;
    top:20px;
}

.NavAbout h2{
    position: relative;
    font-size: 35px;
    left:500px;
    top: -25px;
}

.NavAboutImage{
    position: relative;
    left: 50px;
}

.NavAbout p{
    position: relative;
    font-size: 25px;
    left:450px;
    top:-585px;
    height: 400px;
    width: 800px;
}

.malayalam p{
    position: relative;
    font-size: 19px;
}

.images{
    position: relative;
    display: flex;
    gap: 50px;
    top: -570px;
    left: 9px;
}

.NavEvents{
    position: relative;
    top: -520px;
}

.NavEvents hr{
    position: relative;
    border: 2px solid white;
    width: 60px;
    left: 50px;
    border-radius: 20px;
   
}

.NavEvents h1{
    position: relative;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    left: 130px; 
}

.NavEvents h2{
    position: relative;
    top:30px;
}

.NavEvents h3{
    position: relative;
    font-size: 30px;
    top:40px;
    left:50px;
}

.NavEvents p{
    position: relative;
    top:100px;
    left: 50px;
}

.NavEvents img{
    position: relative;
    top: -290px;
    left:860px;

}
.EventsImage{
    position: relative;
    right: 810px;
    top:90px;
    gap:40px;
    display: flex;
}

.EventsImage1{
    position: relative;
    right: 810px;
    top:150px;
    gap:80px;
    display: flex;
}

.NavMembers{
    position: relative;
    top: -610px;
    
}



.box1{
    position:relative;
    top:80px;
    left: 130px;
    height: 420px;
    width: 310px;
    background-color:rgb(83, 85, 83);
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;

}

.info-box1{
    position: absolute;
    top:280px;
    height: 120px;
    width:280px;
    left:13px;
    background-color: black;
    border-radius: 8px;
}

.info-box1 h2{
    position: relative;
    color:white;
    font-size: 30px;
    left:57px;
    top:15px;
}

.info-box1 p{
    position: relative;
    color: white;
    top:30px;
    left: 65px;
}

.box1 img{
    position: relative;
    height: 300px;
    width: 290px;
    top:10px;
    left:9px;

}


.box2{
    position:relative;
    top:-340px;
    left: 520px;
    height: 420px;
    width: 310px;
    background-color:rgb(83, 85, 83);
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
   

}

.info-box2{
    position: absolute;
    top:280px;
    height: 120px;
    width:280px;
    left:13px;
    background-color: black;
    border-radius: 8px;
}

.info-box2 h2{
    position: relative;
    color:white;
    font-size: 25px;
    left:50px;
    top:15px;
}

.info-box2 h3{
    position: relative;
    color:white;
    font-size: 25px;
    left:84px;
    top:15px;
}



.info-box2 p{
    position: relative;
    color: white;
    top:30px;
    left: 65px;
}

.box2 img{
    position: relative;
    height: 300px;
    width: 290px;
    top:10px;
    left:9px;

}

.box3{
    position:relative;
    top:-759px;
    left: 910px;
    height: 420px;
    width: 310px;
    background-color:rgb(83, 85, 83);
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;

}

.info-box3{
    position: absolute;
    top:280px;
    height: 120px;
    width:280px;
    left:13px;
    background-color: black;
    border-radius: 8px;
}

.info-box3 h2{
    position: relative;
    color:white;
    font-size: 30px;
    left:57px;
    top:15px;
}

.info-box3 p{
    position: relative;
    color: white;
    top:30px;
    left: 65px;
}

.box4{
    position:relative;
    top:-700px;
    left: 910px;
    height: 420px;
    width: 310px;
    background-color:rgb(83, 85, 83);
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;

}

.info-box4{
    position: absolute;
    top:280px;
    height: 120px;
    width:280px;
    left:13px;
    background-color: black;
    border-radius: 8px;
}

.info-box4 h2{
    position: relative;
    color:white;
    font-size: 30px;
    left:57px;
    top:15px;
}

.info-box4 p{
    position: relative;
    color: white;
    top:30px;
    left: 65px;
}

.box5{
    position:relative;
    top:-1120px;
    left: 520px;
    height: 420px;
    width: 310px;
    background-color:rgb(83, 85, 83);
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;

}

.info-box5{
    position: absolute;
    top:280px;
    height: 120px;
    width:280px;
    left:13px;
    background-color: black;
    border-radius: 8px;
}

.info-box5 h2{
    position: relative;
    color:white;
    font-size: 30px;
    left:57px;
    top:15px;
}

.info-box5 p{
    position: relative;
    color: white;
    top:30px;
    left: 65px;
}

.box6{
    position:relative;
    top:-1540px;
    left: 130px;
    height: 420px;
    width: 310px;
    background-color:rgb(83, 85, 83);
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;

}

.info-box6{
    position: absolute;
    top:280px;
    height: 120px;
    width:280px;
    left:13px;
    background-color: black;
    border-radius: 8px;
}

.info-box6 h2{
    position: relative;
    color:white;
    font-size: 30px;
    left:57px;
    top:15px;
}

.info-box6 p{
    position: relative;
    color: white;
    top:30px;
    left: 65px;
}

.NavContact{
    position: relative;
    top: -2100px;
    
}


.ContactInfo {
    position: relative;
    left:300px;
    top:70px;
    display: flex;
    gap: 10px;
}

.ContactInfo img{
     position: relative;
     top:-7px;
     cursor: pointer;
}

span{
    font-size: 20px;
    cursor: pointer;

}

.NavContact span:hover{
    color: white;
}

.phone{
    position: relative;
    left:190px;
}

.phone span{
    position: relative;
    top: -15px;
    left:10px;
}

.Connect h2{
    top:100px;
    left:130px;
}
.formGroup{
    position: relative;
    top:150px;
    left:133px;
}
label{
    display: block;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;

}

input, textarea, .submitBtn {
    display: block;
    width:500px;
    height: 40px;
    padding: 10px;
    border-radius: 7px;
    font-size: 14px;
    margin-bottom: 25px;
}

textarea{
    height: 80px;
}
 .submitBtn {
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.submitBtn:hover{
    background-color: rgb(128, 133, 128);
}

.socialMedia2 ul li a{
    padding: 15px;
    
 }
 
 .socialMedia2 ul{
     position: relative;
     list-style: none;
     display: flex;
     justify-content: flex-end;
     top:-2010px;
     right: 90px;
     cursor: pointer;
 }
